---
import Layout from '~/Layout.astro'
---

<Layout>
  <div class='container mx-auto max-w-xl space-y-8'>
    <section>
      <h1
        class='mb-4 font-serif text-4xl leading-relaxed font-black text-zinc-950 lg:text-6xl dark:text-zinc-50'
      >
        Fairfield Consulting
      </h1>
      <p class='text-xl text-zinc-800 dark:text-zinc-200'>
        A full-service web development consultancy based in Detroit specializing
        in building custom web experiences
      </p>
    </section>
    <section class='flex flex-col gap-4'>
      <h2
        class='font-serif text-2xl leading-relaxed font-black text-zinc-950 lg:text-4xl dark:text-zinc-50'
      >
        Thank you
      </h2>
      <p class='text-xl text-zinc-800 dark:text-zinc-200'>
        Someone will be in touch with you shortly.
      </p>
      <a
        href='/'
        class='w-max text-blue-600 hover:underline dark:text-blue-500'
      >
        ← Go home
      </a>
    </section>
  </div>
</Layout>
