---
import '@fontsource-variable/inter'
import '@fontsource-variable/jetbrains-mono'
import { createHighlighter } from 'shiki'
import { Hero } from '../Hero'
import { Services } from '../Services'
import { Footer } from '../Footer'
import '../global.css'

const highlighter = await createHighlighter({
  themes: ['github-dark-default'],
  langs: ['tsx'],
})
const codeString = `
import { useState } from 'react'

export function Counter() {
  const [count, setCount] = useState(0)
  const increment = () => {
    setCount((previousCount) => previousCount + 1)
  }

  return (
    <div>
      <p>Count: {count}</p>
      <button onClick={increment}>Increment</button>
    </div>
  )
}
`
const code = highlighter.codeToHtml(codeString, {
  lang: 'tsx',
  theme: 'github-dark-default',
})
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Fairfield Consulting LLC</title>
  </head>
  <body class='scroll-smooth bg-white font-sans'>
    <div class='bg-white'>
      <Hero code={code} />
      <Services />
      <Footer />
    </div>
  </body>
</html>
