@import "tailwindcss";

@theme {
  --font-sans:
    "DM Sans Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Playfair Display Variable", "Georgia", Cambria, "Times New Roman", Times, serif;
}
